/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
/* Reset */
/* line 1, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/base/reset.scss */
html, body, main, header, footer, nav, h1, h2, h3, a,
ul, li, b, button, i, section, img, div, p, form,
label, input, textarea, span, article {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

/* line 17, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/base/reset.scss */
ul {
  list-style: none;
}

/* line 21, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/base/reset.scss */
img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 27, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/base/reset.scss */
input[type="password"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 37, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/base/reset.scss */
button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */
/* line 43, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/base/reset.scss */
.group:after {
  content: "";
  display: block;
  clear: both;
}

/* Globals */
/* line 1, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/base/layout.scss */
body {
  font-family: "Nunito", sans-serif, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #1E1E24;
}

/* line 6, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/base/layout.scss */
h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
}

/* line 12, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/base/layout.scss */
h2 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

/* line 18, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/base/layout.scss */
a {
  color: #051637;
}

/* line 21, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/base/layout.scss */
a:hover {
  color: #132851;
  cursor: pointer;
}

/* line 26, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/base/layout.scss */
p {
  line-height: 16px;
}

/* line 30, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/base/layout.scss */
img {
  width: 100%;
  height: 100%;
}

/* line 35, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/base/layout.scss */
input[type="search"] {
  padding: 5px;
}

/* Components */
/* line 1, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/components/app.scss */
.header-bar {
  background-color: #E5E9EA;
}

/* line 1, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/components/auth.scss */
.auth-page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343549;
}
/* line 15, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/components/auth.scss */
.auth-page .auth-form {
  color: #380034;
  background-color: #E5E9EA;
  padding: 40px;
  border-radius: 40px;
  box-sizing: content-box;
  width: 300px;
  z-index: 1000;
}
/* line 24, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/components/auth.scss */
.auth-page .auth-form .auth-label {
  margin: 20px 0px 5px 0px;
}
/* line 28, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/components/auth.scss */
.auth-page .auth-form .form-h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
/* line 35, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/components/auth.scss */
.auth-page .auth-form .form-button {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  border-color: #C5C9C6;
  background-color: #6AB5B1;
  color: #E5E9EA;
  margin-top: 20px;
  display: block;
}
/* line 45, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/components/auth.scss */
.auth-page .auth-form .form-button:hover {
  border-color: #C5C9C6;
  background-color: #55918E;
  color: #E5E9EA;
}
/* line 51, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/components/auth.scss */
.auth-page .auth-form .form-button:focus {
  border-color: #C5C9C6;
  background-color: #55918E;
  color: #E5E9EA;
}
/* line 57, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/components/auth.scss */
.auth-page .auth-form .form-item {
  color: #1E1E24;
}
/* line 61, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/components/auth.scss */
.auth-page .auth-form .error-list {
  padding-left: 20px;
  padding-right: 20px;
  list-style: circle;
}
/* line 67, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/components/auth.scss */
.auth-page .auth-form .form-error {
  font-family: "Montserrat", sans-serif;
  color: #781217;
  margin-bottom: 7px;
}

/* line 1, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/components/header.scss */
header {
  background-color: #E5E9EA;
}
/* line 4, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/components/header.scss */
header .header-bar {
  width: 900px;
  margin: 0 auto;
  padding: 0px 1px 1px 1px;
}
/* line 9, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/components/header.scss */
header .header-bar .logo {
  display: inline-block;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  margin: 10px 20px 10px 0px;
}
/* line 16, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/components/header.scss */
header .header-bar .header-nav {
  display: inline-block;
  float: right;
}
/* line 20, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/components/header.scss */
header .header-bar .header-nav .nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* line 25, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/components/header.scss */
header .header-bar .header-nav .nav-list .nav-item {
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}
/* line 31, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/components/header.scss */
header .header-bar .header-nav .nav-list .nav-item .dropdown-menu {
  position: absolute;
  display: none;
  margin: 0;
  background-color: #E5E9EA;
  top: 100%;
  right: 0;
}
/* line 39, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/components/header.scss */
header .header-bar .header-nav .nav-list .nav-item .dropdown-menu .dropdown-item {
  padding: 10px;
}
/* line 43, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/components/header.scss */
header .header-bar .header-nav .nav-list .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #C5C9C6;
}
/* line 49, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/components/header.scss */
header .header-bar .header-nav .nav-list .nav-item:hover {
  background-color: #C5C9C6;
}
/* line 52, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/components/header.scss */
header .header-bar .header-nav .nav-list .nav-item:hover .dropdown-menu {
  display: block;
}

/* line 1, /home/gilbert/App_Academy/FullStack/SwappinApp/app/assets/stylesheets/components/home.scss */
.homepage {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-color: #343549;
}
