.auth-page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $charcoal;

  .auth-form {
    color: $wine;
    background-color: $white;
    padding: 40px;
    border-radius: 40px;
    box-sizing: content-box;
    width: 300px;
    z-index: 1000;

    .auth-label {
      margin: 20px 0px 5px 0px;
    }

    .form-h1 {
      font-family: $sans-bold;
      text-align: center;
      font-size: 30px;
      margin-bottom: 20px;
    }

    .form-button {
      font-family: $sans-bold;
      font-size: 12px;
      border-color: $warm-grey;
      background-color: $teal;
      color: $white;
      margin-top: 20px;
      display: block;
    }

    .form-button:hover {
      border-color: $warm-grey;
      background-color: $teal-hover;
      color: $white;
    }

    .form-button:focus {
      border-color: $warm-grey;
      background-color: $teal-hover;
      color: $white;
    }

    .form-item {
      color: $black;
    }

    .error-list {
      padding-left: 20px;
      padding-right: 20px;
      list-style: circle;
    }

    .form-error {
      font-family: $sans-bold;
      color: $error;
      margin-bottom: 7px;
    }
  }
}