header {
  background-color: $white;

  .header-bar {
    background-color: $white;
    width: 960px;
    margin: 0 auto;
    padding: 0px 1px 1px 1px;

    .logo {
      display: inline-block;
      font-size: 20px;
      font-family: $logo;
      margin: 10px 20px 10px 0px;
    }

    .header-nav {
      display: inline-block;
      float: right;

      .nav-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .nav-item {
          font-size: 18px;
          padding: 10px;
          cursor: pointer;
          position: relative;

          .dropdown-menu {
            position: absolute;
            display: none;
            margin: 0;
            background-color: $white;
            top: 100%;
            right: 0;
            z-index: 1000;

            .dropdown-item {
              padding: 10px;
            }

            .dropdown-item:hover {
              background-color: $warm-grey;
            }
          }
        }

        .nav-item:hover {
          background-color: $warm-grey;

          .dropdown-menu {
            display: block;
          }
        }
      }
    }
  }
}