.item-container {
  // width: 200px;
  // height: 200px;
  background-color: red;
  display: inline-block;
  cursor: pointer;
  transition: box-shadow 0.07s;

  .item-photo-container {
    height: 75%;
    background-color: blue;
    overflow: hidden;

    .item-photo {
      object-fit: cover;
    }
  }

  .item-info-container {
    height: 25%;
    background-color: green;
  }
}

.item-container:hover {
  box-shadow: 0px 0px 5px $warm-grey;
}