.item-page {
  display: flex;
  margin: 50px;
  justify-content: center;

  .left-half {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }

  .right-half {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }

  .item-page-half:first-of-type {
    margin-right: 20px;
    width: 660px;
  }

  .item-page-half {
    width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $white;

    select {
      display: block;
      width: 300px;
      margin: 0 auto;
      margin-top: 100px;
      margin-bottom: 30px;
    }
    
    .item-image-container {
      width: 600px;
      object-fit: fill;
      padding: 30px;

      .item-image-full {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    .item-h1 {
      color: $wine;
      font-family: $sans-bold;
      font-size: 30px;
      text-align: center;
      margin: 20px;
    }

    .user-info-list {
      margin: 30px 175px;
      font-family: $sans-serif;
      font-size: 20px
    }

    .item-info {
      height: 100%;

      hr {
        border-color: $wine;
        margin: 17px 0;
      }

      button {
        font-family: $sans-bold;
        font-size: 20px;
        border-color: $warm-grey;
        background-color: $teal;
        color: $white;
        margin: 0 auto;
        width: 300px;
        padding-top: 15px;
        padding-bottom: 15px;
        display: block;
        height: fit-content;
      }

      button:hover {
        background-color: $teal-hover;
      }
    }

    .item-data {
      margin: 20px 35px;
      font-family: $sans-serif;
      font-size: 20px;
      line-height: 25px;
      padding: 20px;
      border: 1px solid $black;
      border-radius: 10px;

      .description-tag {
        font-family: $sans-bold;
        font-size: 22px;
      }
    }
  }
}