.item-container {
  width: 100%;
  background-color: red;
  display: inline-block;
  cursor: pointer;
  transition: box-shadow 0.07s;

  .item-photo-container {
    background-color: blue;
    overflow: hidden;

    .item-photo {
      object-fit: cover;
      display: block;
    }
  }

  .item-info-container {
    height: 20%;
    background-color: green;

    .item-info-row {
      padding: 2px 10px;
      background-color: $white;
      vertical-align: middle;
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .item-name {
      color: $black;
    }

    .item-owner {
      color: grey;
    }
  }
}

.item-container:hover {
  box-shadow: 0px 0px 5px $warm-grey;
}